.App {
  text-align: center;
}

.result {
  height: 60px;
  background-color: aqua;
  width: 100%;
  
}
.result p {
  font-size: 30px;
}
.key-body{
  max-width: 400px;
  margin: auto;
}

.buttons {
  display: block;
  background-color: gray;
}

.buttons button{
  width: 25%;
  height: 40px;
  font-size: 30px;
}

.eql-btn{
  width: 100%;
  height: 40px;

}
.eql-btn button{
  width: 100%;
  height: 100%;
  background-color:orange;
}